.gradient-custom-2 {
  background: #fc9092;

  background: -webkit-linear-gradient(
    to right,
    #be5d87,
    #be5d87,
    #be5d87,
    #be5d87
  );
  background: linear-gradient(to right, #bc805b, #bc805b, #bc805b, #bc805b);
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}
a {
  text-decoration: none;
}
a:hover {
  color: #bc805b;
}
